.BlocoGeral {
  background-color: var(--light-petroleumblue);
  box-shadow: -2px -2px 3px var(--dark-grysdepayne);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  height: 85%;
  width: 100%;
  gap: 20px;
}
/*MOSTRADOR DA HORA ATUAL */

.HoraAtual {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  width: 40%;
  padding-bottom: 10px;
  background-color: var(--light-blue);
  font-size: 12px;
  border-radius: 10px;
}
.MostradorHora {
  width: 90%;
  height: 80%;
  background-color: var(--light-gray);
  box-shadow: -2px -2px 3px var(--dark-black);
}

/*MOSTRADOR DA PRÓXIMA RODADA */

.ProximaRodada {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  width: 40%;
  padding-bottom: 10px;
  font-size: 12px;
  border-radius: 10px;
  background-color: var(--light-blue);
}

.MostradorProximaRodada {
  width: 90%;
  height: 80%;
  background-color: var(--light-gray);
  box-shadow: -2px -2px 3px var(--dark-black);
}

/*TRECHO DO QUADRANTE "VALOR ACUMULADO" */

.ValorAcumulado {
  height: 70%;
  width: 60%;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  border-radius: 10px;
  padding-bottom: 5px;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  background-color: var(--light-blue);
}

.BlocoDoMostradorELimitador {
  display: flex;
  height: 100%;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  gap: 10px;
}

.MostradorValorAcumulado {
  width: 60%;
  height: 80%;
  background-color: var(--light-gray);
  box-shadow: -2px -2px 3px var(--dark-black);
}
.LimitadorDeBolas {
  width: 40%;
  height: 80%;
  background-color: var(--light-gray);
  box-shadow: -2px -2px 3px var(--dark-black);
}
