.MostradorDePremios {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
}

.MostradorDePremios div {
  flex-grow: 1;
}

/*Campo onde mostra o número da jogada da vez*/

.VisorNumeroRodada {
  display: flex;
  padding: 2px;
  height: 5%; /*TIVE QUE COLOCAR ESSA ALTURA PARA QUE O VISOR FICASSE NUMA ALTURA ACEITÁVEL*/
}

.VisorNumeroRodadaNumero {
  background: var(--light-gray);
  display: flex;
  justify-content: center;
  color: var(--dark-black);
  /*box-shadow: -2px -2px 3px var(--dark-black);*/
  height: 75%;
}
.VisorNumeroRodadaNumero p {
  color: var(--dark-black);
  align-content: center;
}

/*Campo onde mostra o valor da jogada*/

.ValorDaCartela {
  display: flex;
  /*padding: 3px;*/
  gap: 30px;
}

.ValorDaCartelaNumero {
  background-color: var(--light-gray);
  color: var(--dark-black);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  box-shadow: -2px -2px 3px var(--dark-black);
  border-radius: 5px;
}

/*Campo onde é mostrado o valor do Primeiro, segundo e terceiro Prêmio */

.Premio {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*padding: 2px;*/
  gap: 20px;
}

.PremioTexto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Medalha {
  text-align: center;
  border-radius: 50%;
  background-color: var(--light-gray);
  color: var(--dark-black);
  width: 20px;
  height: 20px;
  border: var(--dark-blue);
  box-shadow: -2px -2px 3px var(--dark-black);
}

.PremioValor {
  background-color: var(--light-gray);
  color: var(--dark-black);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55%;
  box-shadow: -2px -2px 3px var(--dark-black);
  border-radius: 5px;
}
