:root {
  --light-orange: #eb663f;
  --dark-purple: #281339;
  --light-blue: #0976a6;
  --dark-blue: #1230ae;
  --light-bluesea: #2bc1c8;
  --light-pink: #dec2ff;
  --light-ardosia: #eaeace; /*#fff5ff*/
  --light-green: #8a9500;
  --dark-green: #113e05;
  --light-gray: #bed8d8; /*#ccdce0*/
  --dark-black: #0f172a;
  --dark-petroleumblue: #02404b;
  --light-ocre: #cb8d3d;
  --dark-grysdepayne: #092a2f;
}
