.LadoA {
  height: 100%;
  width: 100%;
}
.MelhoresCartelasGeral {
  height: 100%;
  width: 100%;
  padding-left: 0;
  padding-top: 0;
  background-color: var(--light-petroleumblue);
  box-shadow: -2px -2px 5px var(--dark-grysdepayne); */
}

.MelhoresCartelasCorpoNumeros {
  display: flex;
  flex-direction: column;
  height: 92%;
  background-color: var(--light-petroleumblue);
  box-shadow: -2px -2px 3px var(--dark-grysdepayne);
  padding-top: 0;
  padding-left: 0;
}

.MelhoresCartelasCorpoNumeros p {
  color: var(--dark-grysdepayne);
  font-weight: bold;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  
}

.MelhoresCartelasImpar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
  height: 10%;
  background-color: var(--light-bluelevel1);
}

.MelhoresCartelasPar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
  height: 10%;
  background-color: var(--light-bluelevel2);
}

.BolaFaltante {
  width: 10%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-blue);
  color: var(--dark-grysdepayne);
  font-weight:bold ;
  border-radius: 5px;
  box-shadow: -2px -2px 3px var(--dark-grysdepayne);
}

.SituacaoDoJogador {
  width: 10%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-blue);
  color: var(--dark-grysdepayne);
  font-weight:bold ;
  border-radius: 5px;
  box-shadow: -2px -2px 3px var(--dark-grysdepayne);
}

